{{#each data}}
        <div class="py-3">
        <a href="#" class="text-decoration-none" onclick="loadData('{{type}}/{{id}}','details-template','content')">
            <h1 class="text-bla">{{name}}</h1>
        </a>
        <div class="text-black-50">{{summary}}</div>
        </div>      
        {{/each}}   